## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rms/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Pp]ublish/

## Visual Studio / VS Code
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates
.vs/

## Backup and local config
*.bak
*.old
config.json
